<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Here are the senators from <%= @state.name %></h2>
<div id="senator">
	<% @results.each do |item| %>
		<div class="senator">
			<h3><%= item['first_name'] %> <%= item['last_name'] %></h3>
			<p>Office: <%= item['office'] %></p>
			<p>Email: <%= item['oc_email'] %></p>
			<p>Phone: <%= item['phone'] %></p>
			<p><%= item['term-start'] %></p>
			<p>Term-end: <%= item['term_end'] %></p>
		</div>
	<% end %>
</div>
<h2>Here are the representitives from <%= @state.name %></h2>
<div id="congress">
	<% @results1.each do |item| %>
		<div class="congress">
			<h3><%= item['first_name'] %> <%= item['last_name'] %></h3>
			<p>District: <%= item['district'] %></p>
			<p>Chamber: <%= item['chamber'] %></p>
			<p>Office:  <%= item['office'] %></p>
			<p>Email: <%= item['oc_email'] %></p>
			<p>Phone: <%= item['phone'] %></p>
		</div>
	<% end %>
</div>



</body>
</html>